<!-- ######################## Footer ######################## -->  
      
<footer>

      <div class="row">
      
          <div class="twelve columns footer">
          	<p>&copy; CannaBrokers Network 2014</p>
          </div>
      </div>

</footer>		  