<!-- ######################## Footer ######################## -->

<footer>

      <div class="row">

          <div class="twelve columns footer">
          	<p>&copy; CannaBrokers Network 2014</p>
          	<p>DISCLAIMER-Cannabrokers Network is an information website only. We do not buy or sell Medical/Recreational Cannabis.</p>
          </div>
      </div>

</footer>