<div class="row">
	<div class="large-10 large-offset-2 columns">
		<h3>Concentrate Companies</h3>
		<table>
			<thead>
				<tr>
					<th>Company</th>
					<th>description</th>
					<th>Phone #</th>
				</tr>
			</thead>
			<tbody>
				<% @merchants.each do |merchant| %>
				<tr>
					<td><%=link_to(merchant.name, merchant_concentrates_path(merchant))%>
						<%if merchant.premium %>
					<span class="label success radius">premium</span>
					<%end%>
					</td>
					<td><%=merchant.description[0..40]%>...</td>
					<td><%=merchant.phone%></td>
				</tr>
				<%end%>
			</tbody>
		</table>
				<div data-mantis-zone='cannabrokersnetwork'></div>

	</div>
</div>

<script type="text/javascript">
	MANTIS = {
		site: '54272a6b68e1050b00cc2528'
	};
</script>
<script type="text/javascript">
	var z = document.createElement("script");
	z.type = "text/javascript";
	z.async = true;
	z.src = "//assets.mantisadnetwork.com/mantodea.min.js";
	var s = document.getElementsByTagName('head')[0];
	s.parentNode.insertBefore(z, s);
</script>